includes:
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-symfony/rules.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/extension.neon
    - /tools/.composer/vendor-bin/phpstan/vendor/phpstan/phpstan-doctrine/rules.neon

parameters:
    level: 6
    paths:
        - src
    symfony:
        container_xml_path: '/project/var/cache/dev/srcApp_KernelDevDebugContainer.xml'
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
