<!-- Navbar -->
<div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="{{ path('app_home_index') }}">
        <img src="{{ asset('img/favicon-192x192.png') }}" alt="logo" class="img-fluid">
    </a>
    <!--/ Navbar brand -->

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--/ Collapse button -->

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="main-nav">
        {% include 'shared/_partial/navbar/_navbar_links.html.twig' %}
        {% include 'shared/_partial/navbar/_navbar_icons.html.twig' %}
    </div>
    <!--/ Collapsible content -->
</div>
<!--/ Navbar -->
