{% import 'shared/_macro/tab_macro.html.twig' as tabMacro %}

{% set active = active|default('') %}

<li class="nav-item">
    <a class="nav-link{{ tabMacro.nav_active(active, 'mod-groups') }}" data-toggle="tab" href="#mod-groups" role="tab">
        {{ 'Mod groups'|trans }}
    </a>
</li>
