<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">{{ 'Mod name'|trans }}</th>
                <th scope="col">{{ 'Include?'|trans }}</th>
                <th scope="col">{{ 'Mod source'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% block table_body %}{% endblock %}
        </tbody>
    </table>
</div>
