<!--Section About-->
<section class="text-center">
    <a class="anchor" id="about"></a>
    <!-- Heading -->
    <h2 class="mb-5 font-weight-bold">O nas</h2>

    <!--Grid row-->
    <div class="row d-flex justify-content-center mb-4">
        <!--Grid column-->
        <div class="col-md-8">
            <!-- Description -->
            <p class="grey-text">
                ArmaForces to <!-- Not a typo, internal meme -->społenczość<!--/ meme --> skupiająca zarówno cichych pasjonatów milsimu, śmieszków poza kontrolo,
                jak i miłośników specyfiki Army 3, których łączy chęć tworzenia zgranej społeczności.
                <br/>
                Nasze misje zwykle są nastawione na dużo akcji,
                bez zbędnego gadania i recytowania regulaminu z pamięci.
            </p>
        </div>
    </div>
    <!--Grid row-->
    <div class="row">
        <!--Grid column-->
        <div class="col-md-4 mb-5">
            <i class="fa fa-fighter-jet fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">{{ 'Fun'|trans }}</h4>
            <p class="grey-text">
                W ArmaForces skupiamy się przede wszystkim na dobrej zabawie bez wymuszania przesadnego "realizmu".
            </p>
        </div>
        <!--Grid column-->
        <div class="col-md-4 mb-1">
            <i class="fa fa-gamepad fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">{{ 'Gaming'|trans }}</h4>
            <p class="grey-text">
                Nasza grupa skupia się nie tylko na Armie 3.
                Nasi członkowie wspólnie organizują się w najróżniejszych innych grach.
                <br/>Większą liczbą jesteśmy dostępni w takich tytułach jak Company of Heores 2, DCS czy Wargame Red Dragon.
            </p>
        </div>
        <!--Grid column-->
        <div class="col-md-4 mb-1">
            <i class="fa fa-user-friends fa-4x orange-text"></i>
            <h4 class="my-4 font-weight-bold">{{ 'Community'|trans }}</h4>
            <p class="grey-text">
                Zrzeszamy pełen przekrój społeczeństwa, od programistów przez urzędników, lekarzy, pracowników przemysłowych, prawników, studentów, uczniów czy nierobów.
                <br/>Posiadamy graczy w wielu zakątkach świata.
                <br/><br/>Dzieli nas wiele, łączy nas Arma.
            </p>
        </div>
    </div>
</section>
