<!-- Social buttons -->
<div class="primary-color">
    <div class="container">
        <!--Grid row-->
        <div class="row py-4 d-flex align-items-center">

            <!--Grid column-->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0 text-white">Get connected with us on social networks!</h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
                <!--Facebook-->
                <a class="fb-ic ml-0">
                    <i class="fab fa-facebook text-white mr-4"> </i>
                </a>
                <!--Twitter-->
                <a class="tw-ic">
                    <i class="fab fa-twitter text-white mr-4"> </i>
                </a>
                <!--Google +-->
                <a class="gplus-ic">
                    <i class="fab fa-google-plus text-white mr-4"> </i>
                </a>
                <!--Linkedin-->
                <a class="li-ic">
                    <i class="fab fa-linkedin text-white mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fab fa-instagram text-white mr-lg-4"> </i>
                </a>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>
</div>
<!-- Social buttons -->
