{% extends 'container.html.twig' %}

{% block content %}
    <div class="row my-3 align-items-center">
        <div class="col-md-6">
            <h2>{{ 'Mod list customization'|trans }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs justify-content-end" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="optional-mods-tab" data-toggle="tab" href="#optional-mods" role="tab" aria-controls="home" aria-selected="true">
                        {{ 'Optional mods'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="required-mods-tab" data-toggle="tab" href="#required-mods" role="tab" aria-controls="profile" aria-selected="false">
                        {{ 'Required mods'|trans }}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                {% include 'mod_list_public/_partial/_optional_mods_tab.html.twig' %}
                {% include 'mod_list_public/_partial/_required_mods_tab.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}
