
header, #intro {
    height: 100%;
}

#intro {
    position: relative;
    overflow: hidden;
    cursor: default;

    background: url("img/landing_uns.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .btn-outline-white {
        width: 100px;
    }
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
}

@media (min-width: 600px) {
    .navbar.scrolling-navbar {
        padding-top: 16px;
        padding-bottom: 16px;
        transition: background 0.5s ease-in-out,padding 0.5s ease-in-out;
    }

    .navbar.scrolling-navbar .navbar-nav>li {
        -webkit-transition-duration: 1s;
        transition-duration: 1s;
    }

    .navbar.scrolling-navbar.top-nav-collapse {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}
