
header, #intro {
    height: 100%;
}

#intro {
    position: relative;
    overflow: hidden;
    cursor: default;

    .btn-outline-white {
        width: 100px;
    }

    &.bg-unsung {
        background: url("img/landing_uns.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    &.bg-rhs {
        background: url("img/landing_rhs.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    &.bg-vanilla {
        background: url("img/landing_vanilla.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    &.bg-ifa {
        background: url("img/landing_ifa.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    &.bg-ifa-2 {
        background: url("img/landing_ifa-2.jpg") no-repeat center center fixed;
        background-size: cover;
    }

    &.bg-cup {
        background: url("img/landing_cup.jpg") no-repeat center center fixed;
        background-size: cover;
    }
}

.navbar.scrolling-navbar {
    transition: background 0.5s ease-in-out;
}
