Najczęściej rozgrywki odbywają się w środy oraz soboty o godzinie 20:00.
<br/>Jeżeli nie masz pewności czy danego dnia jest coś grane to zawsze możesz zajrzeć do <a href="{{ global.app.url.calendar }}">kalendarza</a>.
