{% extends '_base.html.twig' %}

{% block body %}
<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark">
        {% include '_navbar.html.twig' %}
    </nav>
    <!--/.Navbar-->
</header>

Join us!

{% endblock %}
