{% extends 'layout/_default.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('joinUs') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('joinUs') }}
{% endblock %}

{% block content %}
<div id="intro">
    <div class="mask">
        <div class="container-fluid h-100">

            <div class="row d-flex justify-content-center text-center">
                <!-- Card -->
                <div class="card text-dark my-4 mx-auto col-sm-12 col-md-6">
                    <div class="card-body">
                        <h5 class="card-title">Jak do nas dołączyć?</h5>
                        <section>
                            Tutaj krok po kroku jak do nas dołączyć
                        </section>
                    </div>
                </div>
                <!--/ Card -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
