<li>
    Zacznij od zapoznania się z <a href="{{ url.statute }}">regulaminem</a>.
</li>
<li>
    Dołącz do naszego <a href="{{ url.discord }}">Discorda</a> i złóż podanie na kanale #rekrutacja.
</li>
<li>
    Gdy już otrzymasz rangę rekruta będziesz mógł zalogować się na stronie i dołączyć do naszego
    {%- if is_granted('ROLE_USER') %}
    <a href="{{ url.teamspeak }}">TeamSpeaka</a>
{%- else %}
    <a href="#" title="{{ 'Available after login'|trans }}"
       data-toggle="tooltip" data-placement="bottom">TeamSpeaka</a>
    {%- endif -%}.
</li>
<li>
    Pobierz mody z modlisty "<a href="https://modlist.armaforces.com/#/download/default">default</a>". Są one wymagane na większości misji.
    <br/>
    <br/>
    Standardowo rozgrywki odbywają się w środy oraz soboty o godzinie 20:00, po rozegraniu swojej pierwszej misji
    nie będziesz już rekrutem i zostaniesz przyjęty do grupy.
</li>
