<div class="tab-pane fade show active" id="mod-groups" role="tabpanel">
    {% embed 'mod_list/_partial/_mod_list_form_mod_groups/_mod_list_form_mod_groups_table.html.twig' %}
        {% block table_body %}
            {% set rowNo = 1 %}

            {# @var modGroup \App\Entity\ModGroup\ModGroup #}
            {% for child in form.children %}
                {% set modGroup = form.vars.choices[loop.index0].data %}

                {% include 'mod_list/_partial/_mod_list_form_mod_groups/_mod_list_form_mod_groups_table_row.html.twig' with { modGroup: modGroup } %}

                {% set rowNo = rowNo + 1 %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
</div>
