<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th scope="col">{{ 'Mod group name'|trans }}</th>
                <th scope="col">{{ 'Mod group description'|trans }}</th>
                <th scope="col">{{ 'Include?'|trans }}</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% block table_body %}{% endblock %}
        </tbody>
    </table>
</div>
