<tr>
    <th scope="row">{{ rowNo }}</th>
    <td>{{ modGroup.name }}</td>
    <td>{{ modGroup.description }}</td>
    <td>
        {{- form_widget(child, {
            parent_label_class: label_attr.class|default(''),
            translation_domain: choice_translation_domain,
        }) -}}
    </td>
    <td></td>
</tr>
