{% extends 'shared/default.html.twig' %}

{% block container %}
    <!-- Container -->
    <main id="main" class="container">
        {% block content %}{% endblock %}
    </main>
    <!--/ Container -->
{% endblock %}
