{% extends 'shared/default.html.twig' %}

{% block container %}
    <!-- Container - fluid -->
    <main id="main" class="container-fluid">
        {% block content %}{% endblock %}
    </main>
    <!--/ Container - fluid -->
{% endblock %}
