<div class="row my-3">
    <div class="col-12">
        <h2>
            {% block page_title %}{% endblock %}
        </h2>
    </div>
    <div class="col-12 text-right">
        {% block page_actions %}{% endblock %}
    </div>
</div>
